.bannerTwo {
    width: auto;
    height: 80vh;
    margin-top: 0px;
    margin-bottom: 0px;
    background-repeat: no-repeat;
    padding: 0px 0px 0px 5%;
    background-image: url("https://themebeyond.com/html/movflx/img/bg/breadcrumb_bg.jpg");
    
}

.bannerTwo h1 {
    margin-top: 0;
    font-size: 60px;
    color: white;
    top: 30vh;
    left: 40%;
    position: relative;
   
}

.bannerTwo h1 span {
    color: #e4d804;
}