.header-container {
    position: fixed;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    transition: 0.3s ease;
    color: #fff;
    background-color: rgba(51, 51, 51, 0.5);
    margin: 0px;
    z-index: 3;
  }
  
.header-logo {
width: 100px; 
height: auto;
}

.header-container .nav {
  display: flex;
  gap: 40px;
  list-style: none;
  margin: 0;
  padding: 0;
  }
  
.header-container .nav-item {
  text-decoration: none;
  color: #fff; 
  font-weight: 700;
  font-size: 14px;
  }

.header-signin-button {
background-color: #000000; 
color: #e4d804; 
border: 2px solid #e4d804;
border-radius: 25px;
padding: 10px 40px;
cursor: pointer;
}

.header-signin-button a {
text-decoration: none;
color: white; 
font-weight: 700;
font-size: 14px;
}
  
.header-right .logoutBtn{
  background-color: transparent; 
  border: none;
  color: white;
  margin: 0px 10px;
  font-size: 18px;
  transition: color 0.3s; 

}

.header-right .logoutBtn:hover {
  color: #e4d804;
}

.is-sticky {
  position: fixed;
  top: 0;
  background-color: rgba(51, 51, 51, 0.5);
  box-shadow: 0 5px 16px rgba(0, 0, 0, 0.1);
  padding: 20px 40px;
  backdrop-filter: blur(10px);
  transition: all 0.5s ease;
  animation: smoothScroll 1s ease-out;
}

@keyframes smoothScroll {
  0% {
    transform: translateY(-142px);
  }

  100% {
    transform: translateY(0px);
  }
}