
.upcomingMovieSection {
    margin-top: 0px;
    background-color: rgba(0, 0, 0, 0.885);
    background-image: url("https://themebeyond.com/html/movflx/img/bg/ucm_bg_shape.png");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}

/* ourServiceSection */

.ourServiceSection {
    padding: 20vh 7%;
    display: flex;
    color: white;
    background-image: url("https://themebeyond.com/html/movflx/img/bg/services_bg.jpg");
  }
  

.ourServiceSection button {
align-items: center;
letter-spacing: 5px;
background-color: #e4d804;
color: #000;
border-radius: 5px;
margin: 40vh 5% 0px 2%;
padding: 20px 35px;
border: none;
cursor: pointer;
writing-mode: vertical-rl;
}
.ourServiceContainer {
    align-items: center;
    margin: auto;
}
.ourServiceContainer .title {
    color: #e4e2e2;
}

.ourServiceContainer .subtitle {
    font-size: 36px;
    font-weight: 900;
    line-height: 1.2;
    max-width: 90%;
}

.serviceItem {
    display: flex;
    gap: 30px;
    align-items: center;
}

.serviceItem:hover .itemIcon {
    background-color: #e4d804;
}

.serviceItem:hover .itemIcon svg {
    color: #000;
}

.itemIcon {
    border: 2px dashed #e4d804;
    border-radius: 50%;
    padding: 25px 28px;
}

.itemContent {
    margin: 10px 0 ;
}

.itemTitle {
    font-size: 18px;
    font-weight: 700;
}

.itemDescription {
    font-size: 14px;
    font-weight: 500;
    color: #bcbcbc;
    line-height: 26px;
}
/*Top Rated Movies */
.topRatedSection {
    margin-top: 0px;
    background-color: rgba(0, 0, 0, 0.885);
    background-image: url("https://themebeyond.com/html/movflx/img/bg/ucm_bg_shape.png");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}

.topRatedSection .smallTitle {
    text-align: center;
}
.topRatedSection .bigTitle {
    text-align: center;
}
/* .introSection */
.introSection {
    display: flex;
    padding: 20vh 7%;
}
.introSection .title {
    color: #1e1b29;
}

.introSection .subtitle {
    color: #1e1b29;
    font-size: 36px;
    font-weight: 900;
    line-height: 1.2;
    max-width: 90%;

}
.introSection  p {
    font-size: 14px;
    color: #6a6a6a;
    max-width: 80%;
    font-weight: 600;
}

.introSection img {
    max-width: 50%;
}

.introSection .buttonCommon {
    background-color: #e4d804;
}
.introSection .buttonCommon a {
    color: #1e1b29;
}
.introSection .buttonCommon:hover  {
    background-color: white;
    border: 2px solid #e4d804;
}

.introSection .vidOptions {
    display: flex;
    align-items: center;
    gap: 7%;
}

.vidOptions .resolution {
    font-size: 60px;
    color: white;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-color: #d81c2b;
    -webkit-text-stroke-width: 2px;
    text-shadow:0px 3px 24px rgba(160, 160, 160, 0.09);
}

.vidOptions .cusCount {
    font-size: 36px;
    color: #1e1b29;
    line-height: .8;
    margin-bottom: 5px;
    font-weight: 900;
    text-shadow: 0px 3px 4px rgba(30, 30, 30, 0.18);

}

.vidOptions .cusStatus {
    font-size: 16px;
    font-weight: 900;
    color: #1e1b29;    
}

/* best TV series */

.bestTVSeries {
    background-image: url("https://themebeyond.com/html/movflx/img/bg/tv_series_bg.jpg");
}

.bestTVSeries .movieSection .smallTitle {
    text-align: center;
}

.bestTVSeries .movieSection .bigTitle {
    text-align: center;
}
/* .getStartSection */
.getStartSection {
    display: flex;
    padding: 5vh 0;
    justify-content: space-around;
    background-image: url("https://themebeyond.com/html/movflx/img/bg/newsletter_bg.jpg");
}

.getStartSection .left div:first-child {
    font-size: 30px;
    font-weight: 900;
}

.getStartSection .left div:last-child {
    font-size: 14px;
    font-weight: 500;
}

.getStartSection .right {
    display: flex;
    flex-direction: row;
    padding: 0;
}

.getStartSection .right input[type="text"] {
    background-color: white;
    width: 25rem;
    padding: 15px 10px;
}

.getStartSection .right input[type="button"] {
    background-color: #1e1b29;
    color: #e4d804;
}