
.movieDetailContainer {
    max-width: 100%;
    background-image: url('https://themebeyond.com/html/movflx/img/bg/movie_details_bg.jpg');
    margin: 0 auto;
    display: flex;
    color: #bcbcbc;
    flex-direction: row;
    justify-content: space-between;
    padding: 100px 10%;
  }
  
  .movieTitle {
    font-size: 28px;
    color: #e4d804;
    margin-top: 120px;
    
    margin-bottom: 10px;
  }
  
  .movieImage {
    width: 400px;
    height: auto;
    margin: 50px 50px;
  }
  
  .movieDetails {
    font-size: 16px;
  }
  
  .movieDetails p {
    margin-bottom: 10px;
  }
  
  .loading {
    font-size: 20px;
    text-align: center;
    margin-top: 50px;
  }

  .movieMedia {
    display: flex;
    gap: 30px;
    margin-bottom: 5vh;
  }
  .movieMedia svg {
    margin-right: 10px;
  }

  .movieDetails button {
    background-color: #e3dfdf;
    color: black;
  }
  .movieDetails a {
    color: black;
  }