.movieWatchContainer {
    background-image: url('https://themebeyond.com/html/movflx/img/bg/movie_details_bg.jpg');
}

.video {
    height: 70vh;
    width: 80%;
    margin: 20vh 10%;
}

.episodeList {
    background-image: url('https://themebeyond.com/html/movflx/img/bg/episode_bg.jpg');
    padding:10vh 10% 20px 10%;
}
.episodeList ul {
    width: 90%;
    border: 2px solid #e4d804;
    background-color: black;

}
.episodeList li {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    list-style-type: none;
    border-bottom: 1px solid #242426;
}

.episodeList li a {
    text-decoration: none;
    font-weight: 600;
    color: white;
}

.episodeList {
    display: grid;
    grid-template-columns: 3fr 1fr; 
    gap: 20px;
    }



  